@charset "utf-8";

body {
    min-height: 75rem;
    padding-top: 4.5rem; // remove this line if using "navbar-fixed-top: false" in _config.yml
}

.container {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}
@import "minimal-course/_syntax-highlighting";
