---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minimal-course";

.license {
  text-align: center;
  font-size: small;
  /* border-top: 1px solid black; */
  padding-top: 1em;
  margin-top: 2em;
}

.container {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.center-img {
    width: 90%;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

h2, .h2 {
    padding-top: 16px;
}

.license {
    a, a:link, a:visited, a:active{color: $theme-color;}
    a:hover {color: darken($theme-color, 20%); text-decoration: none;}
}

.footnotes {
    font-size: 75%;
}



