---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minimal-course";



.license {
  text-align: center;
  font-size: small;
  /* border-top: 1px solid black; */
  padding-top: 1em;
  margin-top: 2em;
}





